<div class="slider">
  <div class="swiper-wrapper">
    <div class="swiper-slide">{% include 'common/item.html' %}</div>
    <div class="swiper-slide">{% include 'common/item.html' %}</div>
    <div class="swiper-slide">{% include 'common/item.html' %}</div>
    <div class="swiper-slide">{% include 'common/item.html' %}</div>
    <div class="swiper-slide">{% include 'common/item.html' %}</div>
    <div class="swiper-slide">{% include 'common/item.html' %}</div>
    <div class="swiper-slide">{% include 'common/item.html' %}</div>
    <div class="swiper-slide">{% include 'common/item.html' %}</div>
    <div class="swiper-slide">{% include 'common/item.html' %}</div>
    <div class="swiper-slide">{% include 'common/item.html' %}</div>
    <div class="swiper-slide">{% include 'common/item.html' %}</div>
    <div class="swiper-slide">{% include 'common/item.html' %}</div>
    <div class="swiper-slide">{% include 'common/item.html' %}</div>
    <div class="swiper-slide">{% include 'common/item.html' %}</div>
  </div>
  <div class="slider-control">
    <div class="slider-arrow slider-prev"></div>
    <div class="slider-pagination"></div>
    <div class="slider-arrow slider-next"></div>
  </div>
</div>