{% extends 'common/_layout.html' %}
{% set site_title = 'Производство' %}

{% block content %}

<section class="head">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Каталог</a></li>
    </ul>
  </div>
</section>

<section class="manufacture-video">
  <div class="video">
		<video muted autoplay loop>
			<source src="video/manufacture.webm" type='video/webm; codecs="vp8, vorbis"'>
		</video>
	</div>
  <div class="container">
    <h1 class="title center">МКС оптовый и розничный поставщик металлопроката в Санкт-Петербурге и ЛО</h1>
    <ul class="promo-list">
      <li>
        <img src="img/svg/promo-list-1.svg" alt="">
        <p>Выгодная стоимость без наценки</p>
      </li>
      <li>
        <img src="img/svg/promo-list-2.svg" alt="">
        <p>Штат профессиональных мастеров</p>
      </li>
      <li>
        <img src="img/svg/promo-list-3.svg" alt="">
        <p>Удобные условия сотрудничества</p>
      </li>
      <li>
        <img src="img/svg/promo-list-4.svg" alt="">
        <p>Быстрые сроки выполнения заказа</p>
      </li>
      <li>
        <img src="img/svg/promo-list-5.svg" alt="">
        <p>Предоставление всей необходимой документации</p>
      </li>
    </ul>
  </div>
</section>

<section class="manufacture-about">
  <div class="container">
    <div class="manufacture-about__text">
      <h2 class="title">Производство</h2>
      <div class="manufacture-text title-sm"><p>Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам... Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам...</p></div>
      <h4 class="title-md">Производство металлоконструкций</h4>
      <div class="manufacture-text">
        <p>Производство металлоконструкций – главная сфера деятельности нашей компании. </p>
        <p>Объемы производства составляют 100 - 200 тонн металлоконструкций в месяц.  Вся производимая продукция проходит полный, давно отлаженный, технологический цикл от проектирования до финальной проверки на соответствие требованиям чертежей ГОСТов, СНиПов, а также, параметрам заданным потребителями нашей продукции. </p>
        <p>При изготовлении металлоконструкций мы уделяем повышенное внимание качеству сварных соединений. В сочетании с системой качества принятой на предприятии, учитывая визуально измерительный контроль, сварные соединения проверяются неразрушающими способами - УЗК и рентгенографический. В производстве металлоконструкций мы применяем самое современное оборудование и технологии. </p>
        <p>У нас вы можете заказать изготовление металлических конструкций любых размеров и форм, в любом количестве.</p>
      </div>
    </div>
    <img src="img/manufacture.jpg" alt="" class="manufacture-about__img">
  </div>
</section>

<section class="manufacture-info">
  <div class="container">
    <div class="manufacture-info__block">
      <div class="manufacture-info__left">
        <h2 class="title-md">Стоимость изготовления металлоконструкций за&nbsp;1&nbsp;тонну с НДС</h2>
        <ul class="manufacture-table">
          <li><span>Фермы</span><span>от 40 000 р</span></li>
          <li><span>Колонны</span><span>от 40 000 р </span></li>
          <li><span>Закладные детали</span><span>от 35 000 р </span></li>
          <li><span>Ограждения, заборы</span><span>от 25 000 р </span></li>
          <li><span>Опоры трубопроводов</span><span>от 30 000 р </span></li>
          <li><span>Арматурные каркасы</span><span>от 20 000 р </span></li>
        </ul>
        <div class="manufacture-info__text">
          <p>Стоимость металлоконструкций складывается из стоимости металла + изготовление + очистка металла и грунт. Стоимость металла зависит от типа металла. Двутавр, арматура, швеллер, лист и балка. Средняя цена за металл 100 000 рублей за тонну.</p>
        </div>
      </div>
      <div class="manufacture-info__right">
        <h2 class="title">Что мы изготавливаем?</h2>
        <ul>
          <li>Различные ворота — гаражные, промышленные, распашные, откатные, арочные, с калиткой, садовые и дачные и т.д.</li>
          <li>Козырьки и навесы — на подъезд, на гараж</li>
          <li>Арматурные каркасы </li>
          <li>Фермы</li>
          <li>Тяги путевые</li>
          <li>Ограждения — строительные, балконные, газонные, для автостоянок и ритуальные</li>
          <li>Лестницы металлические — пожарные и производственные</li>
          <li>Перила</li>
          <li>Металлоконструкции по чертежам заказчика</li>
          <li>И многое другое.</li>
        </ul>
        <div class="manufacture-info__text">
          <p>Производим резку металлу только на станках с ЧПУ. Раскрой металла осуществляем на 4 плазменных станках. Это позволяет изготовить заготовки точных размеров и в краткие сроки. Резка сортового проката осуществляем на лентопильных станках с контролем геометрических размеров при резке.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'common/gallery.html' %}

<section class="manufacture-lead">
  <div class="container">
    <div class="manufacture-lead__block">
      <div class="manufacture-lead__text">
        <p>Заказывая в нашей компании изготовление качественных металлических конструкций, вы можете не волноваться – заказ будет выполнен в срок и с высоким качеством. В нашей компании принято работать в тесном контакте с Заказчиком. </p>
        <p>О любой стадии производства металлоконструкций для вашего заказа вы сможете узнать у специально выделенного менеджера.</p>
        <p>Нет проблем с монтажом и с доставкой. Наш автопарк позволяет доставить заказчику произведённые металлические конструкции независимо от их веса и габаритов. Если понадобится – они будут разобраны на транспортабельные конструктивные блоки, которые легко будут смонтированы непосредственно на строительной площадке.</p>
        <p>Когда заказ будет доставлен на стройплощадку, уже в процессе монтажа металлоконструкций вы сможете убедиться в качестве нашей работы. </p>
        <p>Наша скрупулёзная работа по соблюдению технологий изготовления  металлических конструкций позволяет получить высочайшую точность, а тот сокращает срок монтажных работ.</p>
      </div>
      <img src="img/manufacture-lead.jpg" alt="" class="manufacture-lead__img">
    </div>
  </div>
</section>

<section class="manufacture-gost">
  <div class="container">
    <h2 class="title center">ГОСТЫ</h2>
    <div class="manufacture-gost__section">
      <h3 class="title-sm center">ГОСТ для постройки зданий:</h3>
      <ul>
        <li><a href="#">ГОСТ 1 - ссылка</a></li>
        <li><a href="#">ГОСТ 1 - ссылка</a></li>
        <li><a href="#">ГОСТ 1 - ссылка</a></li>
      </ul>
    </div>
    <div class="manufacture-gost__section">
      <h3 class="title-sm center">ГОСТ для постройки зданий:</h3>
      <ul>
        <li><a href="#">ГОСТ 1 - ссылка</a></li>
        <li><a href="#">ГОСТ 1 - ссылка</a></li>
        <li><a href="#">ГОСТ 1 - ссылка</a></li>
      </ul>
    </div>
  </div>
</section>

{% include 'common/delivery.html' %}

{% include 'common/help.html' %}

{% endblock %}