{% extends 'common/_layout.html' %}
{% set site_title = 'Прайс' %}

{% block content %}

<section class="head">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Каталог</a></li>
    </ul>
    <h2 class="title">Прайс</h2>
    <h3 class="title-xs">Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам... Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам...</h3>
  </div>
</section>

<section class="price">
  <div class="container">
    <div class="btn-wrap"><a href="#" class="price-btn">Скачать прайс единым файлом</a></div>
    <div class="price-content">

      <div class="price-section">
        <div class="price-section__title">
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col">Раздел</div>
            <div class="price-col"></div>
            <div class="price-col"></div>
            <div class="price-col"></div>
          </div>
        </div>
        <div class="price-section__content">
          <div class="price-subsection">
            <div class="price-subsection__title">
              <div class="price-row">
                <div class="price-col"></div>
                <div class="price-col">Подраздел</div>
                <div class="price-col">Цена 1-10 т.</div>
                <div class="price-col">Цена от 10 т</div>
                <div class="price-col">Цена от 100 т.</div>
              </div>
            </div>
            <div class="price-table">
              <div class="price-row">
                <div class="price-col">№</div>
                <div class="price-col">Наименование очень длиное название</div>
                <div class="price-col">100 руб.</div>
                <div class="price-col">200 руб.</div>
                <div class="price-col">300 руб.</div>
              </div>
              <div class="price-row">
                <div class="price-col">№</div>
                <div class="price-col">Наименование очень длиное название</div>
                <div class="price-col">100 руб.</div>
                <div class="price-col">200 руб.</div>
                <div class="price-col">300 руб.</div>
              </div>
              <div class="price-row">
                <div class="price-col">№</div>
                <div class="price-col">Наименование очень длиное название</div>
                <div class="price-col">100 руб.</div>
                <div class="price-col">200 руб.</div>
                <div class="price-col">300 руб.</div>
              </div>
            </div>
          </div>
          <div class="price-subsection">
            <div class="price-subsection__title">
              <div class="price-row">
                <div class="price-col"></div>
                <div class="price-col">Подраздел</div>
                <div class="price-col">Цена 1-10 т.</div>
                <div class="price-col">Цена от 10 т</div>
                <div class="price-col">Цена от 100 т.</div>
              </div>
            </div>
            <div class="price-table">
              <div class="price-row">
                <div class="price-col">№</div>
                <div class="price-col">Наименование очень длиное название</div>
                <div class="price-col">100 руб.</div>
                <div class="price-col">200 руб.</div>
                <div class="price-col">300 руб.</div>
              </div>
              <div class="price-row">
                <div class="price-col">№</div>
                <div class="price-col">Наименование очень длиное название</div>
                <div class="price-col">100 руб.</div>
                <div class="price-col">200 руб.</div>
                <div class="price-col">300 руб.</div>
              </div>
              <div class="price-row">
                <div class="price-col">№</div>
                <div class="price-col">Наименование очень длиное название</div>
                <div class="price-col">100 руб.</div>
                <div class="price-col">200 руб.</div>
                <div class="price-col">300 руб.</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="price-section">
        <div class="price-section__title">
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col">Раздел</div>
            <div class="price-col"></div>
            <div class="price-col"></div>
            <div class="price-col"></div>
          </div>
        </div>
        <div class="price-section__content">
          <div class="price-subsection">
            <div class="price-subsection__title">
              <div class="price-row">
                <div class="price-col"></div>
                <div class="price-col">Подраздел</div>
                <div class="price-col">Цена 1-10 т.</div>
                <div class="price-col">Цена от 10 т</div>
                <div class="price-col">Цена от 100 т.</div>
              </div>
            </div>
            <div class="price-table">
              <div class="price-row">
                <div class="price-col">№</div>
                <div class="price-col">Наименование очень длиное название</div>
                <div class="price-col">100 руб.</div>
                <div class="price-col">200 руб.</div>
                <div class="price-col">300 руб.</div>
              </div>
              <div class="price-row">
                <div class="price-col">№</div>
                <div class="price-col">Наименование очень длиное название</div>
                <div class="price-col">100 руб.</div>
                <div class="price-col">200 руб.</div>
                <div class="price-col">300 руб.</div>
              </div>
              <div class="price-row">
                <div class="price-col">№</div>
                <div class="price-col">Наименование очень длиное название</div>
                <div class="price-col">100 руб.</div>
                <div class="price-col">200 руб.</div>
                <div class="price-col">300 руб.</div>
              </div>
              <div class="price-row">
                <div class="price-col">№</div>
                <div class="price-col">Наименование очень длиное название</div>
                <div class="price-col">100 руб.</div>
                <div class="price-col">200 руб.</div>
                <div class="price-col">300 руб.</div>
              </div>
              <div class="price-row">
                <div class="price-col">№</div>
                <div class="price-col">Наименование очень длиное название</div>
                <div class="price-col">100 руб.</div>
                <div class="price-col">200 руб.</div>
                <div class="price-col">300 руб.</div>
              </div>
              <div class="price-row">
                <div class="price-col">№</div>
                <div class="price-col">Наименование очень длиное название</div>
                <div class="price-col">100 руб.</div>
                <div class="price-col">200 руб.</div>
                <div class="price-col">300 руб.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
    <!-- -->
    <div class="price-control">
      <a href="javascript:;" class="price-control__all">Показать всё</a>
    </div>
  </div>
</section>

{% endblock %}