{% extends 'common/_layout.html' %}
{% set site_title = 'Откатные ворота' %}

{% block content %}

<section class="head">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Каталог</a></li>
    </ul>
    <h2 class="title">Откатные ворота</h2>
    <h3 class="title-xs">Обшиваем ворота 3D сеткой, профнастилом, евроштакетником</h3>
  </div>
</section>

<section class="rollet">
  <div class="container">
    <div class="btn-wrap"><div class="rollet-title">Уникальная конструкция ворот</div></div>
    <div class="rollet-slider">
      <ul class="rollet-slider__img">
        <li data-slide="1" class="active">1</li>
        <li data-slide="2">2</li>
        <li data-slide="3">3</li>
        <li data-slide="4">4</li>
      </ul>
      <div class="rollet-slider__content">
        <div class="rollet-slider__item active" data-slide="1">
          <h4>1</h4>
          <p>Как принято считать, ключевые особенности структуры проекта, превозмогая сложившуюся непростую экономическую ситуацию, призваны к ответу. Лишь ключевые особенности структуры проекта указаны как претенденты на роль ключевых факторов. Прежде всего, повышение уровня гражданского сознания однозначно фиксирует необходимость дальнейших направлений развития.</p>
        </div>
        <div class="rollet-slider__item" data-slide="2">
          <h4>2</h4>
          <p>Как принято считать, ключевые особенности структуры проекта, превозмогая сложившуюся непростую экономическую ситуацию, призваны к ответу. Лишь ключевые особенности структуры проекта указаны как претенденты на роль ключевых факторов. Прежде всего, повышение уровня гражданского сознания однозначно фиксирует необходимость дальнейших направлений развития.</p>
        </div>
        <div class="rollet-slider__item" data-slide="3">
          <h4>3</h4>
          <p>Как принято считать, ключевые особенности структуры проекта, превозмогая сложившуюся непростую экономическую ситуацию, призваны к ответу. Лишь ключевые особенности структуры проекта указаны как претенденты на роль ключевых факторов. Прежде всего, повышение уровня гражданского сознания однозначно фиксирует необходимость дальнейших направлений развития.</p>
        </div>
        <div class="rollet-slider__item" data-slide="4">
          <h4>4</h4>
          <p>Как принято считать, ключевые особенности структуры проекта, превозмогая сложившуюся непростую экономическую ситуацию, призваны к ответу. Лишь ключевые особенности структуры проекта указаны как претенденты на роль ключевых факторов. Прежде всего, повышение уровня гражданского сознания однозначно фиксирует необходимость дальнейших направлений развития.</p>
        </div>
      </div>
    </div>
    <div class="btn-wrap"><div class="rollet-title">Виды ворот</div></div>
    {% include 'common/rollet-item.html' %}
    {% include 'common/rollet-item.html' %}
  </div>
</section>

{% endblock %}