{% extends 'common/_layout.html' %}
{% set site_title = 'Текстовая страница' %}

{% block content %}

<section class="head">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Каталог</a></li>
    </ul>
    <h2 class="title">Текстовая страница</h2>
  </div>
</section>

<section class="textpage">
  <div class="container">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, vero cupiditate? Exercitationem necessitatibus odio quisquam incidunt vel explicabo natus impedit dignissimos laudantium vero. Mollitia, sit assumenda sint id esse pariatur.</p>
    <p>Consequuntur vitae sunt consequatur fugiat dolorem, nulla repellat adipisci magnam reiciendis, doloremque voluptatem enim nam et consectetur incidunt, doloribus voluptas ea voluptates. Magni repudiandae aliquam odio ducimus illo aut accusamus.</p>
    <p>Vitae, nihil eius! Harum eos ipsum debitis consequatur, sunt amet nesciunt laborum impedit error vitae reiciendis quaerat, unde totam minima, cupiditate animi consequuntur praesentium odio doloribus quidem asperiores sequi sint?</p>
    <p>Ipsum voluptates facere quaerat laboriosam, deleniti sit praesentium temporibus molestiae et voluptatum. Commodi, iste, expedita eius suscipit odio veritatis quasi laboriosam aperiam fugit, error maxime. Nam aperiam autem repellendus maxime?</p>
    <p>Eius facere alias totam impedit esse, molestias dolorum voluptatum adipisci perferendis. Perferendis quos facilis veniam adipisci quo, eos voluptate inventore cumque enim non et iusto, eligendi minus illo eaque aliquam!</p>
    <p>Voluptatem tempore atque voluptates exercitationem alias, magnam itaque qui maxime neque unde et porro vel suscipit eaque sunt ullam voluptate tenetur quos perferendis dolore ea. Possimus quae exercitationem quam porro?</p>
    <p>Dolores at in, obcaecati, numquam dignissimos provident unde quae voluptate sit id aliquid quo officia, maiores quisquam veniam illum voluptas! Veritatis doloremque ratione reprehenderit tempora quae odit rem quo consequatur!</p>
    <p>Delectus deserunt, sunt incidunt consequatur laborum at placeat non eligendi magnam. Recusandae tenetur quibusdam animi ipsa ab laudantium odit velit. Sapiente placeat ipsum tenetur dignissimos, voluptatibus beatae veniam quos dicta.</p>
    <p>Vel provident at eligendi necessitatibus! Labore sunt cumque deserunt expedita rem dignissimos ad doloremque, modi totam non voluptate fugit delectus odit! Amet ut animi ad tempora illo! Fugit, quia ullam.</p>
    <p>Necessitatibus sint reiciendis voluptatibus repudiandae ea inventore eum veritatis nihil quam dolorum assumenda similique magni, recusandae aut illo omnis hic doloremque odit? Quae saepe iusto, earum eius unde quod voluptatibus.</p>
  </div>
</section>

{% endblock %}